.popup__input_type_submit {
  margin-top: 14px;
  min-height: 46px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
}

.popup__input_type_submit:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (min-width: 920px) {
  .popup__input_type_submit {
    margin-top: 16px;
    min-height: 50px;
    border-radius: 2px;
    font-size: 18px;
  }
}