.header {
  border-bottom: #545454 solid 1px;
}

.header__logo {
  padding-left: 27px;
  width: 104px;
}


@media screen and (min-width: 880px) {
  .header__logo {
    width: 142px;
  }
}

@media screen and (min-width: 880px) {
  .header__logo {
    padding-left: 0;
  }
}