.card {
  margin: 0;
  max-width: 282px;
  
}

.card__image {
  display: block;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__caption {
  background-color: #fff;
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding: 0 22px;
}

.card__header {
  color: #000;
  margin: 0;
  max-width: 190px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}