.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.button:hover {
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
  opacity: .6;
}

.button:focus {
  outline: none;
}